<!-- Quickstart -->
<li{% if activeMenu != "quickstart" %} class="inactive"{% endif %}>
    <a href="{{ page.base }}">Quickstart</a>
    {% if navLevel0 == "quickstart" %}
    <ul>
        {% assign navigation_sections = site.collections | where: "label", "quickstart" | first %}
        {% include navigation-sections.html %}
    </ul>
    {% endif %}
</li>
