<!-- API -->
<li>
    <a href="{{ page.base }}api/">API</a>
    {% if navLevel0 == "api" %}
    <ul>
        <!-- API / Builder -->
        <li{% if navLevel1 == "builder" %} class="active"{% endif %}>
            <a href="{{ page.base }}api/builder/">Builder</a>
            {% if navLevel1 == "builder" %}
            <ul>
                <!-- API / Builder / Builder -->
                <li{% if navLevel2 == "builder" %} class="active"{% endif %}>
                    <a href="{{ page.base }}api/builder/builder/"><span class="endpoint class"></span>Builder</a>
                    {% if navLevel2 == "builder" %}
                    <ul>
                        {% assign navigation_sections = site.collections | where: "label", "api_builder_builder" | first %}
                        {% include navigation-sections.html %}
                    </ul>
                    {% endif %}
                </li>
                <li class="no-folder{% if navLevel2 == "ibuilderproperties" %} active{% endif %}">
                    <a href="{{ page.base }}api/builder/ibuilderproperties/"><span class="endpoint interface"></span>IBuilderProperties</a>
                </li>

                <!-- API / Builder / Templates -->
                <li{% if navLevel2 == "templates" %} class="active"{% endif %}>
                    <a href="{{ page.base }}api/builder/templates/"><span class="endpoint module"></span>Templates</a>
                    {% if navLevel2 == "templates" %}
                    <ul>
                        {% assign navigation_sections = site.collections | where: "label", "api_builder_templates" | first %}
                        {% include navigation-sections.html %}

                        <!-- API / Builder / Forms / Button -->
                        <li{% if navLevel3 == "collection" %} class="active"{% endif %}>
                            <a href="{{ page.base }}api/builder/templates/collection/"><span class="endpoint class"></span>Collection</a>
                            {% if navLevel3 == "collection" %}
                            <ul>
                                {% assign navigation_sections = site.collections | where: "label", "api_builder_templates_collection" | first %}
                                {% include navigation-sections.html %}
                            </ul>
                            {% endif %}
                        </li>

                        <li{% if navLevel3 == "label" %} class="active"{% endif %}>
                            <a href="{{ page.base }}api/builder/templates/label/"><span class="endpoint module"></span>Label</a>
                            {% if navLevel3 == "label" %}
                            <ul>
                                {% assign navigation_sections = site.collections | where: "label", "api_builder_templates_label" | first %}
                                {% include navigation-sections.html %}
                            </ul>
                            {% endif %}
                        </li>
                    </ul>
                    {% endif %}
                </li>

                <!-- API / Builder / Forms -->
                <li{% if navLevel2 == "forms" %} class="active"{% endif %}>
                    <a href="{{ page.base }}api/builder/forms/"><span class="endpoint module"></span>Forms</a>
                    {% if navLevel2 == "forms" %}
                    <ul>
                        <!-- API / Builder / Forms / Button -->
                        <li{% if navLevel3 == "button" %} class="active"{% endif %}>
                            <a href="{{ page.base }}api/builder/forms/button/"><span class="endpoint class"></span>Button</a>
                            {% if navLevel3 == "button" %}
                            <ul>
                                {% assign navigation_sections = site.collections | where: "label", "api_builder_forms_button" | first %}
                                {% include navigation-sections.html %}
                            </ul>
                            {% endif %}
                        </li>

                        <!-- API / Builder / Forms / Checkbox -->
                        <li{% if navLevel3 == "checkbox" %} class="active"{% endif %}>
                            <a href="{{ page.base }}api/builder/forms/checkbox/"><span class="endpoint class"></span>Checkbox</a>
                            {% if navLevel3 == "checkbox" %}
                            <ul>
                                {% assign navigation_sections = site.collections | where: "label", "api_builder_forms_checkbox" | first %}
                                {% include navigation-sections.html %}
                            </ul>
                            {% endif %}
                        </li>

                        <!-- API / Builder / Forms / DateTime -->
                        <li{% if navLevel3 == "datetime" %} class="active"{% endif %}>
                            <a href="{{ page.base }}api/builder/forms/datetime/"><span class="endpoint class"></span>DateTime</a>
                            {% if navLevel3 == "datetime" %}
                            <ul>
                                {% assign navigation_sections = site.collections | where: "label", "api_builder_forms_datetime" | first %}
                                {% include navigation-sections.html %}
                            </ul>
                            {% endif %}
                        </li>

                        <!-- API / Builder / Forms / Dropdown -->
                        <li{% if navLevel3 == "dropdown" %} class="active"{% endif %}>
                            <a href="{{ page.base }}api/builder/forms/dropdown/"><span class="endpoint class"></span>Dropdown</a>
                            {% if navLevel3 == "dropdown" %}
                            <ul>
                                {% assign navigation_sections = site.collections | where: "label", "api_builder_forms_dropdown" | first %}
                                {% include navigation-sections.html %}
                            </ul>
                            {% endif %}
                        </li>

                        <!-- API / Builder / Forms / Email -->
                        <li{% if navLevel3 == "email" %} class="active"{% endif %}>
                            <a href="{{ page.base }}api/builder/forms/email/"><span class="endpoint class"></span>Email</a>
                            {% if navLevel3 == "email" %}
                            <ul>
                                {% assign navigation_sections = site.collections | where: "label", "api_builder_forms_email" | first %}
                                {% include navigation-sections.html %}
                            </ul>
                            {% endif %}
                        </li>

                        <!-- API / Builder / Forms / HTML -->
                        <li{% if navLevel3 == "html" %} class="active"{% endif %}>
                            <a href="{{ page.base }}api/builder/forms/html/"><span class="endpoint class"></span>HTML</a>
                            {% if navLevel3 == "html" %}
                            <ul>
                                {% assign navigation_sections = site.collections | where: "label", "api_builder_forms_html" | first %}
                                {% include navigation-sections.html %}
                            </ul>
                            {% endif %}
                        </li>

                        <!-- API / Builder / Forms / Notification -->
                        <li{% if navLevel3 == "notification" %} class="active"{% endif %}>
                            <a href="{{ page.base }}api/builder/forms/notification/"><span class="endpoint class"></span>Notification</a>
                            {% if navLevel3 == "notification" %}
                            <ul>
                                {% assign navigation_sections = site.collections | where: "label", "api_builder_forms_notification" | first %}
                                {% include navigation-sections.html %}
                            </ul>
                            {% endif %}
                        </li>

                        <!-- API / Builder / Forms / Numeric -->
                        <li{% if navLevel3 == "numeric" %} class="active"{% endif %}>
                            <a href="{{ page.base }}api/builder/forms/numeric/"><span class="endpoint class"></span>Numeric</a>
                            {% if navLevel3 == "numeric" %}
                            <ul>
                                {% assign navigation_sections = site.collections | where: "label", "api_builder_forms_numeric" | first %}
                                {% include navigation-sections.html %}
                            </ul>
                            {% endif %}
                        </li>

                        <!-- API / Builder / Forms / Radiobutton -->
                        <li{% if navLevel3 == "radiobutton" %} class="active"{% endif %}>
                            <a href="{{ page.base }}api/builder/forms/radiobutton/"><span class="endpoint class"></span>Radiobutton</a>
                            {% if navLevel3 == "radiobutton" %}
                            <ul>
                                {% assign navigation_sections = site.collections | where: "label", "api_builder_forms_radiobutton" | first %}
                                {% include navigation-sections.html %}
                            </ul>
                            {% endif %}
                        </li>

                        <!-- API / Builder / Forms / Spacer -->
                        <li{% if navLevel3 == "spacer" %} class="active"{% endif %}>
                            <a href="{{ page.base }}api/builder/forms/spacer/"><span class="endpoint class"></span>Spacer</a>
                            {% if navLevel3 == "spacer" %}
                            <ul>
                                {% assign navigation_sections = site.collections | where: "label", "api_builder_forms_spacer" | first %}
                                {% include navigation-sections.html %}
                            </ul>
                            {% endif %}
                        </li>

                        <!-- API / Builder / Forms / Static -->
                        <li{% if navLevel3 == "static" %} class="active"{% endif %}>
                            <a href="{{ page.base }}api/builder/forms/static/"><span class="endpoint class"></span>Static</a>
                            {% if navLevel3 == "static" %}
                            <ul>
                                {% assign navigation_sections = site.collections | where: "label", "api_builder_forms_static" | first %}
                                {% include navigation-sections.html %}
                            </ul>
                            {% endif %}
                        </li>

                        <!-- API / Builder / Forms / Text -->
                        <li{% if navLevel3 == "text" %} class="active"{% endif %}>
                            <a href="{{ page.base }}api/builder/forms/text/"><span class="endpoint class"></span>Text</a>
                            {% if navLevel3 == "text" %}
                            <ul>
                                {% assign navigation_sections = site.collections | where: "label", "api_builder_forms_text" | first %}
                                {% include navigation-sections.html %}
                            </ul>
                            {% endif %}
                        </li>

                        <!-- API / Builder / Forms / Upload -->
                        <li{% if navLevel3 == "upload" %} class="active"{% endif %}>
                            <a href="{{ page.base }}api/builder/forms/upload/"><span class="endpoint class"></span>Upload</a>
                            {% if navLevel3 == "upload" %}
                            <ul>
                                {% assign navigation_sections = site.collections | where: "label", "api_builder_forms_upload" | first %}
                                {% include navigation-sections.html %}
                            </ul>
                            {% endif %}
                        </li>

                    </ul>
                    {% endif %}
                </li>
            </ul>
            {% endif %}
        </li>

        <!-- API / Runner -->
        <li{% if navLevel1 == "runner" %} class="active"{% endif %}>
            <a href="{{ page.base }}api/runner/">Runner</a>
            {% if navLevel1 == "runner" %}
            <ul>
            </ul>
            {% endif %}
        </li>

        <!-- API / Common -->
        <li{% if navLevel1 == "common" %} class="active"{% endif %}>
            <a href="{{ page.base }}api/common/">Common</a>
            {% if navLevel1 == "common" %}
            <ul>
                <!-- API / Common / Functions -->
                <li{% if navLevel2 == "functions" %} class="active"{% endif %}>
                    <a href="{{ page.base }}api/common/functions/">Functions</a>
                    {% if navLevel2 == "functions" %}
                    <ul>
                        {% assign navigation_sections = site.collections | where: "label", "api_functions" | first %}
                        {% include navigation-sections.html %}
                    </ul>
                    {% endif %}
                </li>

                <!-- API / Common / Modules -->
                <li{% if navLevel2 == "modules" %} class="active"{% endif %}>
                    <a href="{{ page.base }}api/common/modules/">Modules</a>
                    {% if navLevel2 == "modules" %}
                    <ul>
                        <!-- API / Common / Modules / Str -->
                        <li{% if navLevel3 == "str" %} class="active"{% endif %}>
                            <a href="{{ page.base }}api/common/modules/str/"><span class="endpoint module"></span>Str</a>
                            {% if navLevel3 == "str" %}
                            <ul>
                                {% assign navigation_sections = site.collections | where: "label", "api_module_str" | first %}
                                {% include navigation-sections.html %}
                            </ul>
                            {% endif %}
                        </li>

                        <!-- API / Common / Modules / Num -->
                        <li{% if navLevel3 == "num" %} class="active"{% endif %}>
                            <a href="{{ page.base }}api/common/modules/num/"><span class="endpoint module"></span>Num</a>
                            {% if navLevel3 == "num" %}
                            <ul>
                                {% assign navigation_sections = site.collections | where: "label", "api_module_num" | first %}
                                {% include navigation-sections.html %}
                            </ul>
                            {% endif %}
                        </li>

                        <!-- API / Common / Modules / Slots -->
                        <li{% if navLevel3 == "slots" %} class="active"{% endif %}>
                            <a href="{{ page.base }}api/common/modules/slots/"><span class="endpoint module"></span>Slots</a>
                            {% if navLevel3 == "slots" %}
                            <ul>

                                <!-- API / Common / Modules / Slots / Boolean -->
                                <li{% if navLevel4 == "boolean" %} class="active"{% endif %}>
                                    <a href="{{ page.base }}api/common/modules/slots/boolean/"><span class="endpoint class"></span>Boolean</a>
                                    {% if navLevel4 == "boolean" %}
                                    <ul>
                                        {% assign navigation_sections = site.collections | where: "label", "api_module_slots_boolean" | first %}
                                        {% include navigation-sections.html %}
                                    </ul>
                                {% endif %}
                                </li>

                                <!-- API / Common / Modules / Slots / Date -->
                                <li{% if navLevel4 == "date" %} class="active"{% endif %}>
                                    <a href="{{ page.base }}api/common/modules/slots/date/"><span class="endpoint class"></span>Date</a>
                                    {% if navLevel4 == "date" %}
                                    <ul>
                                        {% assign navigation_sections = site.collections | where: "label", "api_module_slots_date" | first %}
                                        {% include navigation-sections.html %}
                                    </ul>
                                {% endif %}
                                </li>

                                <!-- API / Common / Modules / Slots / Number -->
                                <li{% if navLevel4 == "number" %} class="active"{% endif %}>
                                    <a href="{{ page.base }}api/common/modules/slots/number/"><span class="endpoint class"></span>Number</a>
                                    {% if navLevel4 == "number" %}
                                    <ul>
                                        {% assign navigation_sections = site.collections | where: "label", "api_module_slots_number" | first %}
                                        {% include navigation-sections.html %}
                                    </ul>
                                {% endif %}
                                </li>

                                <!-- API / Common / Modules / Slots / Numeric -->
                                <li{% if navLevel4 == "numeric" %} class="active"{% endif %}>
                                    <a href="{{ page.base }}api/common/modules/slots/numeric/"><span class="endpoint class"></span>Numeric</a>
                                    {% if navLevel4 == "numeric" %}
                                    <ul>
                                        {% assign navigation_sections = site.collections | where: "label", "api_module_slots_numeric" | first %}
                                        {% include navigation-sections.html %}
                                    </ul>
                                {% endif %}
                                </li>

                                <!-- API / Common / Modules / Slots / Slot -->
                                <li{% if navLevel4 == "slot" %} class="active"{% endif %}>
                                    <a href="{{ page.base }}api/common/modules/slots/slot/"><span class="endpoint class"></span>Slot</a>
                                    {% if navLevel4 == "slot" %}
                                    <ul>
                                        {% assign navigation_sections = site.collections | where: "label", "api_module_slots_slot" | first %}
                                        {% include navigation-sections.html %}
                                    </ul>
                                {% endif %}
                                </li>

                                <!-- API / Common / Modules / Slots / Slots -->
                                <li{% if navLevel4 == "slots" %} class="active"{% endif %}>
                                    <a href="{{ page.base }}api/common/modules/slots/slots/"><span class="endpoint class"></span>Slots</a>
                                    {% if navLevel4 == "slots" %}
                                    <ul>
                                        {% assign navigation_sections = site.collections | where: "label", "api_module_slots_slots" | first %}
                                        {% include navigation-sections.html %}
                                    </ul>
                                {% endif %}
                                </li>

                                <!-- API / Common / Modules / Slots / String -->
                                <li{% if navLevel4 == "string" %} class="active"{% endif %}>
                                    <a href="{{ page.base }}api/common/modules/slots/string/"><span class="endpoint class"></span>String</a>
                                    {% if navLevel4 == "string" %}
                                    <ul>
                                        {% assign navigation_sections = site.collections | where: "label", "api_module_slots_string" | first %}
                                        {% include navigation-sections.html %}
                                    </ul>
                                {% endif %}
                                </li>

                                <!-- API / Common / Modules / Slots / Text -->
                                <li{% if navLevel4 == "text" %} class="active"{% endif %}>
                                    <a href="{{ page.base }}api/common/modules/slots/text/"><span class="endpoint class"></span>Text</a>
                                    {% if navLevel4 == "text" %}
                                    <ul>
                                        {% assign navigation_sections = site.collections | where: "label", "api_module_slots_text" | first %}
                                        {% include navigation-sections.html %}
                                    </ul>
                                {% endif %}
                                </li>
                            </ul>
                            {% endif %}
                        </li>
                    </ul>
                    {% endif %}
                </li>

                <!-- API / Common / Classes -->
                <li{% if navLevel2 == "classes" %} class="active"{% endif %}>
                    <a href="{{ page.base }}api/common/classes/">Classes</a>
                    {% if navLevel2 == "classes" %}
                    <ul>
                        <!-- API / Common / Classes / Await -->
                        <li{% if navLevel3 == "await" %} class="active"{% endif %}>
                            <a href="{{ page.base }}api/common/classes/await/"><span class="endpoint class"></span>Await</a>
                            {% if navLevel3 == "await" %}
                            <ul>
                                {% assign navigation_sections = site.collections | where: "label", "api_class_await" | first %}
                                {% include navigation-sections.html %}
                            </ul>
                            {% endif %}
                        </li>

                        <!-- API / Common / Classes / Callback -->
                        <li{% if navLevel3 == "callback" %} class="active"{% endif %}>
                            <a href="{{ page.base }}api/common/classes/callback/"><span class="endpoint class"></span>Callback</a>
                            {% if navLevel3 == "callback" %}
                            <ul>
                                {% assign navigation_sections = site.collections | where: "label", "api_class_callback" | first %}
                                {% include navigation-sections.html %}
                            </ul>
                            {% endif %}
                        </li>
                    </ul>
                    {% endif %}
                </li>
            </ul>
            {% endif %}
        </li>
    </ul>
    {% endif %}
</li>
