{% assign navLevels = page.url | split: "/" %}
{% assign navLevel0 = navLevels[1] | default: "quickstart" %}
{% assign navLevel1 = navLevels[2] | default: "" %}
{% assign navLevel2 = navLevels[3] | default: "" %}
{% assign navLevel3 = navLevels[4] | default: "" %}
{% assign navLevel4 = navLevels[5] | default: "" %}
{% assign activeMenu = page.url | split: "/" %}
{% assign activeMenu = activeMenu[1] | default: "quickstart" %}

<nav>
    <ul class="nav-main">
        {% include navigation-quickstart.html %}
        {% include navigation-guide.html %}
        {% include navigation-examples.html %}
    </ul>

    <ul class="nav-footer">
        <li>
            <a href="{{ page.base }}support/" class="support">Support</a>
        </li>
        <li>
            <a href="https://twitter.com/tripetto" target="_blank" class="twitter">Twitter</a>
        </li>
        <li>
            <a href="https://tripetto.com" target="_blank" class="website">Tripetto.com</a>
        </li>
    </ul>
</nav>

